<nav>
    <ul class="nav justify-content-center align-items-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blogs/create">New Blog</a>
        </li>
      </ul>
</nav>