<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/nav.ejs') %>

            <div class="aboutus card">
                <div class="card-body">
                    <p class="about">
                        <h2>Welcome to <span>WordWave!</span></h2>
                        <br>

                        We are thrilled to have you here and appreciate your interest in learning more about us. Let us take this opportunity to introduce ourselves and provide you with some insights into our blogging website.
                        <br>
                        At WordWave, we're passionate about sharing our knowledge and insights with readers like you.
                        Our goal is to create a vibrant online community where we can connect, learn, and grow together.
                        Whether you're a seasoned blogger, a budding writer, or simply someone looking for inspiration,
                        you've come to the right place.
                        <br>
                        As you explore our blog, you'll find a variety of categories to suit your interests. Whether you're seeking practical advice, thought-provoking insights, or a simple dose of entertainment, we have something for you. Our archives are filled with a wealth of articles, so feel free to dive in and discover content that resonates with you.
                    </p>
                </div>
            </div>

            <%- include('../partials/footer.ejs') %>

    </body>

</html>