<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/nav.ejs') %>

            <div class="create-blog content mt-5">
                <form action="/blogs" method="POST">
                    
                    <div class="mb-3">
                        <label for="author" class="form-label">Author</label>
                        <input type="text" id="author" name="author" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="title" class="form-label">Blog Title</label>
                        <input type="text" id="title" name="title" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="snippet" class="form-label">Blog Snippet</label>
                        <input type="text" id="snippet" name="snippet" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="body" class="form-label">Blog body:</label>
                        <textarea class="form-control" id="body" name="body" class="form-control" rows="4" required></textarea>
                    </div>

                    <div class="btn2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>

            <%- include('../partials/footer.ejs') %>

    </body>

</html>